@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10.0000% 3.9216%;
    --card: 0 0% 100%;
    --card-foreground: 240 10.0000% 3.9216%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10.0000% 3.9216%;
    --primary: 208.8000 69.0608% 35.4902%;
    --primary-foreground: 210.0000 40.0000% 98.0392%;
    --secondary: 210.0000 40.0000% 96.0784%;
    --secondary-foreground: 240 10.0000% 3.9216%;
    --muted: 210.0000 40.0000% 96.0784%;
    --muted-foreground: 215.3846 16.3180% 46.8627%;
    --accent: 210.0000 40.0000% 96.0784%;
    --accent-foreground: 208.8000 69.0608% 35.4902%;
    --destructive: 0 72.2222% 50.5882%;
    --destructive-foreground: 210.0000 40.0000% 98.0392%;
    --border: 214.2857 31.8182% 91.3725%;
    --input: 214.2857 31.8182% 91.3725%;
    --ring: 208.8000 69.0608% 35.4902%;
    --chart-1: 243.3962 75.3555% 58.6275%;
    --chart-2: 330.3659 81.1881% 60.3922%;
    --chart-3: 160.1183 84.0796% 39.4118%;
    --chart-4: 37.6923 92.1260% 50.1961%;
    --chart-5: 217.2193 91.2195% 59.8039%;
    --sidebar: 210.0000 40.0000% 98.0392%;
    --sidebar-foreground: 240 10.0000% 3.9216%;
    --sidebar-primary: 208.8000 69.0608% 35.4902%;
    --sidebar-primary-foreground: 210.0000 40.0000% 98.0392%;
    --sidebar-accent: 214.2857 31.8182% 91.3725%;
    --sidebar-accent-foreground: 208.8000 69.0608% 35.4902%;
    --sidebar-border: 214.2857 31.8182% 91.3725%;
    --sidebar-ring: 208.8000 69.0608% 35.4902%;
    --font-sans: 'Inter var', sans-serif;
    --font-serif: 'Lora', serif;
    --font-mono: 'Fira Code', monospace;
    --radius: 0.5rem;
    --shadow-x: 0;
    --shadow-y: 0.125rem;
    --shadow-blur: 0.25rem;
    --shadow-spread: 0;
    --shadow-opacity: 0.05;
    --shadow-color: 0 0 0;
    --shadow-2xs: 0 0.125rem 0.25rem 0 hsl(0 0 0 / 0.03);
    --shadow-xs: 0 0.125rem 0.25rem 0 hsl(0 0 0 / 0.03);
    --shadow-sm: 0 0.125rem 0.25rem 0 hsl(0 0 0 / 0.05), 0 1px 2px -1px hsl(0 0 0 / 0.05);
    --shadow: 0 0.125rem 0.25rem 0 hsl(0 0 0 / 0.05), 0 1px 2px -1px hsl(0 0 0 / 0.05);
    --shadow-md: 0 0.125rem 0.25rem 0 hsl(0 0 0 / 0.05), 0 2px 4px -1px hsl(0 0 0 / 0.05);
    --shadow-lg: 0 0.125rem 0.25rem 0 hsl(0 0 0 / 0.05), 0 4px 6px -1px hsl(0 0 0 / 0.05);
    --shadow-xl: 0 0.125rem 0.25rem 0 hsl(0 0 0 / 0.05), 0 8px 10px -1px hsl(0 0 0 / 0.05);
    --shadow-2xl: 0 0.125rem 0.25rem 0 hsl(0 0 0 / 0.13);
    --tracking-normal: normal;
    --spacing: 0.25rem;
  }
  
  .dark {
    --background: 222.2222 47.3684% 11.1765%;
    --foreground: 210.0000 40.0000% 98.0392%;
    --card: 222.2222 47.3684% 11.1765%;
    --card-foreground: 210.0000 40.0000% 98.0392%;
    --popover: 222.2222 47.3684% 11.1765%;
    --popover-foreground: 210.0000 40.0000% 98.0392%;
    --primary: 213.1169 93.9024% 67.8431%;
    --primary-foreground: 222.2222 47.3684% 11.1765%;
    --secondary: 217.2414 32.5843% 17.4510%;
    --secondary-foreground: 210.0000 40.0000% 98.0392%;
    --muted: 217.2414 32.5843% 17.4510%;
    --muted-foreground: 215.0000 20.2247% 65.0980%;
    --accent: 217.2414 32.5843% 17.4510%;
    --accent-foreground: 213.1169 93.9024% 67.8431%;
    --destructive: 0 84.2365% 60.1961%;
    --destructive-foreground: 210.0000 40.0000% 98.0392%;
    --border: 215.2941 25.0000% 26.6667%;
    --input: 215.2941 25.0000% 26.6667%;
    --ring: 213.1169 93.9024% 67.8431%;
    --chart-1: 234.4538 89.4737% 73.9216%;
    --chart-2: 328.6154 85.5263% 70.1961%;
    --chart-3: 158.1132 64.3725% 51.5686%;
    --chart-4: 43.2558 96.4126% 56.2745%;
    --chart-5: 213.1169 93.9024% 67.8431%;
    --sidebar: 217.2414 32.5843% 17.4510%;
    --sidebar-foreground: 210.0000 40.0000% 98.0392%;
    --sidebar-primary: 213.1169 93.9024% 67.8431%;
    --sidebar-primary-foreground: 222.2222 47.3684% 11.1765%;
    --sidebar-accent: 215.2941 25.0000% 26.6667%;
    --sidebar-accent-foreground: 213.1169 93.9024% 67.8431%;
    --sidebar-border: 215.2941 25.0000% 26.6667%;
    --sidebar-ring: 213.1169 93.9024% 67.8431%;
    --font-sans: 'Inter var', sans-serif;
    --font-serif: 'Lora', serif;
    --font-mono: 'Fira Code', monospace;
    --radius: 0.5rem;
    --shadow-x: 0;
    --shadow-y: 0.25rem;
    --shadow-blur: 0.5rem;
    --shadow-spread: 0;
    --shadow-opacity: 0.2;
    --shadow-color: 0 0 0;
    --shadow-2xs: 0 0.25rem 0.5rem 0 hsl(0 0 0 / 0.10);
    --shadow-xs: 0 0.25rem 0.5rem 0 hsl(0 0 0 / 0.10);
    --shadow-sm: 0 0.25rem 0.5rem 0 hsl(0 0 0 / 0.20), 0 1px 2px -1px hsl(0 0 0 / 0.20);
    --shadow: 0 0.25rem 0.5rem 0 hsl(0 0 0 / 0.20), 0 1px 2px -1px hsl(0 0 0 / 0.20);
    --shadow-md: 0 0.25rem 0.5rem 0 hsl(0 0 0 / 0.20), 0 2px 4px -1px hsl(0 0 0 / 0.20);
    --shadow-lg: 0 0.25rem 0.5rem 0 hsl(0 0 0 / 0.20), 0 4px 6px -1px hsl(0 0 0 / 0.20);
    --shadow-xl: 0 0.25rem 0.5rem 0 hsl(0 0 0 / 0.20), 0 8px 10px -1px hsl(0 0 0 / 0.20);
    --shadow-2xl: 0 0.25rem 0.5rem 0 hsl(0 0 0 / 0.50);
  }
  
  body {
    letter-spacing: var(--tracking-normal);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}